form{
  width:50%;
  margin:0 auto;
}

form li{
  list-style-type: none;
  padding: 30px 0px 50px 0px;
  border-bottom: 1px solid #EDEEEE;
  vertical-align: text-top; 
}

.label-item{
  
  font-family: sans-serif;
  color: #CCCCCC;
  font-size: 10px;
  margin-left: 0px;
}

.radio-label-item{
  font-family: sans-serif;
  font-style: bold;
  color: #CCCCCC;
  font-size: 15px;
  margin-left: 20px;
  float: right;
}
form input,select{
  width:70%;
}

label>input,select{
  font-size: 12px;
  border:1px solid #C4C9CC;
  padding: 15px;
  border-radius: 3px;
  float: right;
  clear: both;
  box-sizing: border-box;
}

[type="radio"] {
  float:none;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[type="radio"] + span::before {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.25em;
  border-radius: 1.2em;
  border: 0.15em solid #fff;
  box-shadow: 0 0 0 0.1em #528FCC;
  margin-right: 0.75em;
}

[type="radio"]:checked + span::before {
  background: #528FCC;
}

[type="radio"]:focus + span::after {
  content: '';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}


label>input:focus{
  border: 2px solid #528FCC;
}

.submit-button input{
  padding: 10px;
  background: #ABD037;
  color: white;
  margin: auto;
  border-radius: 20px;
  border: none;
  font-size: 20px;

}





