header,footer{
  text-align: center;
  clear: both;
}

section div nav{
  display:inline;
  clear: both;

}

section{
  overflow: hidden;
}

section nav {

  width: 20%;
  float:left;

}

section div{
  width:80%;
  float: left;
}

section div div{
  width: 50%;
  float: left;
}
